body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #ffff;
    font-family: monospace;
}

#terminal {
    width: 80%;
    max-width: 800px;
    background-color: #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    border-radius: 10px;
}

#output {
    min-height: 300px;
    white-space: pre-wrap;
}

#input-line {
    display: flex;
    align-items: center;
}

#prompt {
    margin-right: 5px;
}

#command-input {
    flex: 1;
    background: none;
    border: none;
    color: #ffff;
    font-family: monospace;
    outline: none;
}

a {
    color: #ffffff;  /* Set link color to white */
    text-decoration: none;  /* Remove underline from links */
}

a:hover {
    text-decoration: underline;  /* Add underline on hover */
}