body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #ffff;
    font-family: monospace;
}

#terminal {
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
}

#output {
    flex: 1;
    white-space: pre-wrap;
    overflow-y: auto;
}

#input-line {
    display: flex;
    align-items: center;
}

#prompt {
    margin-right: 5px;
}

#command-input {
    flex: 1;
    background: none;
    border: none;
    color: #ffff;
    font-family: monospace;
    outline: none;
}

a {
    color: #ffffff;  /* Set link color to white */
    text-decoration: none;  /* Remove underline from links */
}

a:hover {
    text-decoration: underline;  /* Add underline on hover */
}
